doctype html
html
  head
    title='VPP Web'
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Văn phòng phẩm Thanh Hương  - Hàng luôn luôn sẵn - Giao hàng COD toàn quốc')
    title V&abreve;n ph&ograve;ng ph&#x1EA9;m Thanh H&#x1B0;&#x1A1;ng
  body
    block content
